<html>
<head>
       <title> pppp Rania mmmmmm</title>
</head>
<body>
    <h3>
      ????  ///Raaaaaniaaaaa jjjj  marouni 2024 
    </h3>
    <p>
        <strong>List of Databases:</strong> <br/>
    <?php
// Informations de connexion à la base de données
$host = '192.168.56.201';
$username = 'Rania';
$password = 'MAROUNI';
echo "avant";
try {
    // Connexion à la base de données MySQL sans sélection de base de données spécifique
    $pdo = new PDO('mysql:host=192.168.56.201', $username, $password);
    echo "apres" ;
    $pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

    // Requête pour obtenir la liste des bases de données
    $query = "SHOW DATABASES";
    $statement = $pdo->query($query);
    $databases = $statement->fetchAll(PDO::FETCH_ASSOC);

    // Afficher la liste des bases de données
    echo "<h1>Liste des bases de données :</h1>";
    echo "<ul>";
    foreach ($databases as $database) {
        echo "<li>" . $database['Database'] . "</li>";
    }
    echo "</ul>";
} catch (PDOException $e) {
    // En cas d'erreur de connexion
    echo "Erreur de connexion : " . $e->getMessage();
}
?>



    </p>
    <br/>
    
</body>
</html>
